.popup-add__conteiner {
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .popup-add__conteiner {
    width: 282px;
  }
}