.template__like {
  min-height: 19px;
  min-width: 22px;
  background-image: url(../../../image/like_disabled.svg);
  border: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
}

.template__like:hover {
  background-image: url(../../../image/like_hover.svg);
  cursor: pointer;
}